/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
laactschedule/vendor/bin/carbon
laactschedule/vendor/bin/php-parse
laactschedule/vendor/bin/phpunit
laactschedule/vendor/bin/psysh
laactschedule/vendor/bin/var-dump-server
resources/js/Components/Example.js
resources/js/Components/common/Common.js
resources/js/Components/delete/Delete.js
resources/js/Components/navigation/Navigation.js
resources/js/Components/register/Register.js
resources/js/Components/register/Registerdis.js
resources/js/Components/schedule/GetSchedule.js
resources/js/Components/schedule/Schedule.js
resources/js/Components/schedule/Scheduledetail.js
resources/js/Components/update/Update.js
resources/js/Components/update/Updatedis.js
